.banner {
    width: 100%;
}

body {
    background: #F1EBE7;
}

.mui-bar-nav ~ .mui-content {
    padding-top: 44px;
    position: relative;

}

.mui-slider {
    margin-top: -11px;
}

.banner img {
    width: 100%;
}

.mui-scroll, .mui-scroll-wrapper {
    position: relative;
}

.mui-content {
    background: #fff;
}

.clean:after {
    content: '';
    clear: both;
    display: block;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    background-color: #FF0000;
    border: 1px solid #FF0000;
}

.mui-segmented-control .mui-control-item {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #9B9B9B;
    margin: 0 5px;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
    color: inherit;
    border: 1px solid #9B9B9B;
}

.mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-progress-bar {
    background-color: transparent;
}

.mui-slider-indicator.mui-segmented-control {
    position: relative;
    bottom: 1%;
    background: #F1EBE7;
}

.mui-table-view-cell {
    background: #F1EBE7;
    padding: 0 5px;
}

.mui-table-view-cell ul {
    padding-top: 10px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mui-table-view-cell ul li {
    width: 31%;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 3px;

}

.mui-table-view-cell ul li img {
    width: 80%;
}

.mui-table-view-cell ul li p {
    text-align: center;
}

.mui-slider .mui-slider-group .mui-slider-item img {
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    display: block;
    margin-top: 10%;
}

/*请选择城市*/
.mui-content .maskCity, .mui-content .Prompt {
    display: none;
    z-index: 100;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    background: rgba(102, 102, 102, .5);
}

.maskCity .maskCity_con {
    position: fixed;
    top: 3rem;
    left: 50%;
    margin-left: -45.5%;
    width: 91%;
    background: #fff;
    border-radius: .3rem;
}

.maskCity .maskCity_con .title {
    position: relative;
    width: 100%;
    padding-left: 1rem;
    color: #fff;
    font-size: 1rem;
    line-height: 3rem;
    background: #D54640;
}

.maskCity .maskCity_con .title i {
    position: absolute;
    top: 0;
    right: 1rem;
    font-style: normal;
    color: #fff;
    font-family: icon;
    font-size: 1.5rem;
    font-weight: 600;
}

.maskCity .maskCity_con ul {
    margin: 0;
    padding: 0;
}

.maskCity .maskCity_con ul li {
    position: relative;
    width: 100%;
    height: 3rem;
    padding-left: 3rem;
    line-height: 3rem;
    color: #4F4F4F;
    font-size: 1.1rem;
    border-bottom: 1px solid #D4D4D4;
}

.maskCity .maskCity_con ul li div {
    position: absolute;
    top: .9rem;
    left: 1rem;
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid #707070;
    border-radius: 50%;
}

.maskCity .maskCity_con ul li div p {
    width: .9rem;
    height: .9rem;
    margin: .12rem .15rem;
    background: transparent;
    border-radius: 50%;
}

.maskCity .maskCity_con ul li.cur {
    color: #DC635E;
}

.maskCity .maskCity_con ul li.cur div {
    border-color: #FF0000;
}

.maskCity .maskCity_con ul li.cur div p {
    background: #FF0000;
}

/*提示弹窗*/
.Prompt .Prompt_con {
    width: 85%;
    padding: 0 1rem;
    margin: 8rem auto 0;
    background: #fff;
}

.Prompt .Prompt_con .title {
    width: 100%;
    color: #FF0000;
    font-family: icon;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
    border-bottom: 1px solid #D7D7D7;
}

.Prompt .Prompt_con p {
    margin: 1rem 0;
    font-size: 1rem;
    color: #000;
    text-align: center;
    line-height: 1.4rem;
}

.Prompt .Prompt_con button {
    width: 100%;
    height: 3rem;
    margin: 1rem 0;
    color: #fff;
    font-size: 1rem;
    letter-spacing: .5rem;
    background: #FF0000;
    border: none;
}
